<ion-header>
    <ion-toolbar>
        <ion-back-button defaultHref="/login" slot="start"></ion-back-button>
        <ion-title>Home</ion-title>
        <ion-icon slot="end" style="zoom:1.5;" (click)="logout()" name="log-out"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-row justify-content-center="">
        <ion-img *ngIf="this.danger; else elseBlock" style="width: 80%" src="..\..\assets\images\HomeImage\StatusNo.svg"></ion-img>
        <ng-template #elseBlock>
            <ion-img  style="width: 80%" src="..\..\assets\images\HomeImage\StatusOk.svg"></ion-img>
        </ng-template>
    </ion-row>

    <ion-progress-bar *ngIf="this.danger" color="danger" style="margin-top: 8%" value="{{this.value}}">
    </ion-progress-bar>

    <ion-list>
        <ion-item *ngIf="(this.constDb.USER_OBJ.ruolo === this.constDb.AUTISTA)">
            <ion-label>Configurazione</ion-label>
            <ion-button slot="end" routerLink="/configuration">Vai</ion-button>
        </ion-item>
        <ion-item *ngIf="(this.constDb.ruolo === this.constDb.ANGELO)">
            <ion-label>Mappa</ion-label>
            <ion-button slot="end" routerLink="/map-view">Vai</ion-button>
        </ion-item>
        <ion-item *ngIf="(this.constDb.ruolo === this.constDb.AUTISTA)">
            <ion-label>Connessione Bluetooth</ion-label>
            <ion-button slot="end" routerLink="/ble-connet">Vai</ion-button>
        </ion-item>
        <ion-item *ngIf="(this.constDb.ruolo === this.constDb.AUTISTA)">
            <ion-label>Associa utenti</ion-label>
            <ion-button slot="end" routerLink="/selectUser">Vai</ion-button>
        </ion-item>
    </ion-list>

    <ion-button id="send" (click)="sendNotificationToAngels()">Send Notification</ion-button>
    <ion-button (click)="startProgresBar()" >Start P</ion-button>
    <ion-button (click)="stopProgress()" >Stop P</ion-button>


</ion-content>
