<ion-header>
    <ion-toolbar>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-row justify-content-center="">
        <ion-img *ngIf="this.danger; else elseBlock" style="width: 80%" src="..\..\assets\images\HomeImage\StatusNo.svg"></ion-img>
        <ng-template #elseBlock>
            <ion-img  style="width: 80%" src="..\..\assets\images\HomeImage\StatusOk.svg"></ion-img>
        </ng-template>
    </ion-row>

    <ion-progress-bar *ngIf="this.danger" color="danger" style="margin-top: 8%" value="{{this.value}}">
    </ion-progress-bar>

    <ion-list>
        <ion-item *ngIf="isAutista">
            <ion-label>Configurazione</ion-label>
            <ion-button slot="end" routerLink="/configuration">Vai</ion-button>
        </ion-item>
        <ion-item *ngIf="isAngelo && showMapToAngel">
            <ion-label>Mappa</ion-label>
            <ion-button slot="end" routerLink="/map-view">Vai</ion-button>
        </ion-item>
        <ion-item *ngIf="isAutista">
            <ion-label>Connessione Bluetooth</ion-label>
            <ion-button slot="end"  (click)="enableBluetooth()">Vai</ion-button>
        </ion-item>
        <ion-item *ngIf="isAutista">
            <ion-label>Associa utenti</ion-label>
            <ion-button slot="end" routerLink="/selectUser">Vai</ion-button>
        </ion-item>
    </ion-list>
    <ion-row *ngIf="isAngelo && showMessageToAngel" justify-content-center>
        <ion-label style="text-align: center">Tranquillo! Nessuno ha bisogno del tuo aiuto!</ion-label>
    </ion-row>

    <!--
        <ion-button (click)="startProgresBar()" >Start P</ion-button>
       -->
    <ion-row *ngIf="danger" justify-content-center>
        <ion-button style="margin-top: 5%" (click)="stopProgress()" >Disattiva Allarme</ion-button>
    </ion-row>
    <ion-row *ngIf="isAutista && showMapToAngel" justify-content-center="">
        <ion-button (click)="resetList()" >Conferma salvataggio</ion-button>
    </ion-row>



</ion-content>
