<ion-header>
    <ion-toolbar>
        <ion-back-button defaultHref="/login" slot="start"></ion-back-button>
        <ion-title>Registrazione</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="formReg" (ngSubmit)="checkRegistrazione()">
        <ion-row justify-content-center>

            <ion-list style=" overflow: hidden;" >
                <ion-item>
                    <ion-label position="floating">Nome</ion-label>
                    <ion-input type="text" formControlName="nome" value=""></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Cognome</ion-label>
                    <ion-input type="text" formControlName="cognome" value=""></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Email</ion-label>
                    <ion-input type="text" formControlName="email" value=""></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input type="password" formControlName="password" value=""></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Conferma Password</ion-label>
                    <ion-input type="password" formControlName="confermap" value=""></ion-input>
                </ion-item>
                <ion-row  *ngIf="passwordWrong" justify-content-center style="margin-top: 3%">
                    <ion-label style="color: red; text-align: center; margin-left: 4%; margin-right: 4%">La password non coincide!</ion-label>
                </ion-row>
                <ion-row>
                    <ion-item  lines="none">
                        <ion-label>Ruolo</ion-label>
                    </ion-item>
                </ion-row>
                <ion-radio-group formControlName="ruolo">
                    <ion-row justify-content-between>
                        <ion-item lines="none">
                            <ion-label >Autista</ion-label>
                            <ion-radio value="0" ></ion-radio>
                        </ion-item >
                        <ion-item lines="none">
                            <ion-label>Soccoritore</ion-label>
                            <ion-radio value="1"></ion-radio>
                        </ion-item>
                    </ion-row>
                </ion-radio-group>

                <ion-item>
                    <ion-label>Seleziona la città</ion-label>
                    <ionic-selectable formControlName="citta"
                                      [(ngModel)]="city"
                                      [items]="cities"
                                      itemValueField="istat"
                                      itemTextField="comune"
                                      [canSearch]="true"
                                      [hasInfiniteScroll]="true"
                                      (onChange)="cityChanges($event)"
                                      [hasVirtualScroll]="true" >
                    </ionic-selectable>

                </ion-item>

            </ion-list>
            <div>
                <ion-button  [disabled]="formReg?.invalid" color="primary" type="submit">Conferma</ion-button>
            </div>
        </ion-row>
        <ion-row  *ngIf="showError" justify-content-center style="margin-top: 3%">
            <ion-label style="color: red; text-align: center; margin-left: 4%; margin-right: 4%">Errore nella registrazione</ion-label>
        </ion-row>



    </form>

</ion-content>

